[submodule "submodules/sdl"]
	path = submodules/sdl
	url = https://github.com/libsdl-org/SDL.git
	branch = main
[submodule "submodules/imgui"]
	path = submodules/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "submodules/glm"]
	path = submodules/glm
	url = https://github.com/g-truc/glm.git
